* {
  margin: 0;
  padding: 0;
  line-height: 1;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
a {
  text-decoration: none;
  color: #000;
}
ul {
  list-style: none;
}
button {
  border: none;
  cursor: pointer;
}
